/* -------------------------------------------------
    GLOBAL VARIABLES 
------------------------------------------------- */
:root {
    /* === Spacing === */
    --space-1: 0.125rem;    /* for nudging content */
    --space-2: 0.25rem;     /* most gaps, especially horizontal */
    --space-3: 0.5rem;      /* common padding/margins of elements */
    --space-4: 0.75rem;     /* larger padding, vertical gaps when responsive */
    --space-5: 1rem;        /* base, large margins and gaps, used for calc() */
    --space-6: 1.25rem;     /* unused */
    --space-7: 1.5rem;      /* input padding for "$" */
    --space-8: 1.75rem;     /* input padding for "%" */
    --space-9: 2rem;        /* line height for inputs, page top margin */

    /* === Layout === */
    --max-width:             720px;
    --min-width:             310px;     /* +10px scroll bar for 320px */
    --modal-wrap-max-width:  480px;
    --modal-text-max-width:  420px;
    --modal-input-max-width: 250px;
    --spinner-width:         50px;      /* matches HTML */

    /* === Light Colors === */
    --color-bg-primary:      #fafafa;
    --color-bg-form:         #ffffff;
    --color-bg-tooltip:      #222222;
    --color-bg-table-head:   #fcfcfc;
    --color-bg-disabled:     #f0f0f0;            /* disabled */
    --color-bg-lite-accent:  #f0f0f0;            /* button hover */
    --color-bg-dark-accent:  #1a2530;            /* submit hover */
    --color-bg-overlay:      rgb(0 0 0 / 0.8); 
    --color-bg-percent:      rgb(230 230 230 / 0.1);
    --color-font-primary:    #2c3e50; 
    --color-font-muted:      #666666;            /* disclaimer */
    --color-font-contrast:   #ffffff;            /* submit button, tooltips */
    --color-font-overlay:    #ffffff;
    --color-font-pholder:    #bbbbbb;
    --color-border-wrapper:  #e0e0e0;
    --color-border-input:    #cccccc;
    --color-border-contrast: #aaaaaa;            /* disabled border, radio hover */
    --color-scrollbar-thumb: #2c3e50; 

    /* === Light Shadows === */
    --text-header-accent: 2px 2px 4px rgb(0 0 0 / 0.025), 4px 4px 6px rgb(0 0 0 / 0.025);   /* title header */
    --shadow-accent: 0 1px 2px rgb(0 0 0 / 0.05);                                             /* interior wrappers */
    --shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);        /* top & submit buttons */
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);          /* exterior wrappers */
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.4), 0 4px 6px -4px rgb(0 0 0 / 0.4);        /* tooltips */

    /* === Borders === */
    --radius-sm: var(--space-2);        /* elements */
    --radius-md: var(--space-3);        /* tooltips, wrappers */
    --border-wrapper: 1px solid var(--color-border-wrapper);
    --border-input: 1px solid var(--color-border-input);

    /* === Typography === */
    --font-family:       "Montserrat", sans-serif;
    --font-size-html:    16px;
    --font-size-tiny:    0.6rem;    /* min-width discalaimer */
    --font-size-xs:      0.75rem;   /* help text */
    --font-size-sm:      0.85rem;   /* modal text */
    --font-size-sm-med:  0.9rem;    /* buttons, table header */
    --font-size-med:     0.95rem;   /* legends, labels, inputs */
    --font-size-base:    1rem;
    --font-size-lg:      1.25rem;   /* h2 */
    --font-size-xl:      1.75rem;   /* h1 */
    --weight-base:       400;       /* general text */
    --weight-semi:       500;       /* loan Labels */
    --weight-bold:       600;       /* labels, legends */
    --weight-header:     700;       /* headers */
    --line-height-sm:    1.2;       /* responsive labels, capslock warning */
    --line-height-base:  1.5;
    --line-height-input: 2;
    --disabled-opacity:  0.75;
    
    /* === Tooltips === */
    --tooltip-transform:        translateX(-50%) translateY(0%);
    --tooltip-top:              100%;
    --tooltip-margin-top:       var(--space-3);
    --tooltip-arrow-top:        auto;
    --tooltip-arrow-bottom:     100%;
    --tooltip-arrow-left:       50%;
    --tooltip-arrow-transform:  translateX(-50%) rotate(0deg);
    --error-arrow-left:         1.6rem;

    /* === Timing === */
    --trans-fast:   0.2s;   /* buttons */
    --anima-fast:   0.25s;  /* fades */
    --anima-med:    0.5s;   /* results */
    --anima-slow:   1s;     /* spinner */

    /* === Z-Index === */
    --z-loader:   99999;
    --z-overlay:  9999;
    --z-tooltip:  999;
}

/* -------------------------------------------------
    DARK MODE
------------------------------------------------- */
[data-theme="dark"] {
    --color-bg-primary:      #0f172a;
    --color-bg-form:         #1e293b;
    --color-bg-tooltip:      #f1f5f9;
    --color-bg-table-head:   #273349;
    --color-bg-disabled:     #334155;
    --color-bg-lite-accent:  #334155;
    --color-bg-dark-accent:  #c0c8d2;
    --color-bg-percent:      rgb(117, 140, 200, 0.1);

    --color-font-primary:    #e2e8f0;
    --color-font-muted:      #94a3b8;
    --color-font-contrast:   #0f172a;
    --color-font-pholder:    #717d92;
    --disabled-opacity:       0.65;

    --color-border-wrapper:  #334155;
    --color-border-input:    #475569;
    --color-scrollbar-thumb: #475569; 

    --text-header-accent: 2px 2px 4px rgb(255 255 255 / 0.025), 4px 4px 6px rgb(255 255 255 / 0.025);
    --shadow-accent: 0 1px 2px rgb(255 255 255 / 0.05);
    --shadow-sm: 0 4px 6px -1px rgb(255 255 255 / 0.05), 0 2px 4px -2px rgb(255 255 255 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(255 255 255/ 0.1), 0 2px 4px -2px rgb(255 255 255 / 0.1);
    --shadow-lg: 0 7px 10px -3px rgb(255 255 255 / 0.15), 0 4px 6px -4px rgb(255 255 255 / 0.15);
}

.icon-sun  { opacity: 1; transform: translate(-50%, -50%) rotate(0deg); }
.icon-moon { opacity: 0; transform: translate(-50%, -50%) rotate(90deg); }
[data-theme="dark"] .icon-sun  { opacity: 0; transform: translate(-50%, -50%) rotate(-90deg); }
[data-theme="dark"] .icon-moon { opacity: 1; transform: translate(-50%, -50%) rotate(0deg); }

/* Prevents transition flash via JS*/
.delay-transition * { transition: none !important; }
.override-delay * { transition: all var(--trans-fast) !important; }

/* -------------------------------------------------
    BASE & RESET
------------------------------------------------- */
*, *::before, *::after { 
    box-sizing: border-box; 
    min-width: 0;
}

* {
    scrollbar-color: var(--color-border-input) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar { width: var(--space-4); height: var(--space-4);}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: calc(var(--space-3) * 0.75); }

::selection {
    background-color: var(--color-font-primary);
    color: var(--color-font-contrast);
}

html { 
    font-size: var(--font-size-html); 
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-bg-primary);
    color: var(--color-font-primary);
    font-family: var(--font-family);
    line-height: var(--line-height-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

input, button, .select-trigger, label {
    font-family: inherit;
    color: inherit;
}

input, button, .select-trigger {
    border: var(--border-input);
    border-radius: var(--radius-sm);
}

input:focus, input:focus-visible, input:hover,
button:focus-visible, button:focus, button:hover,
.input-wrapper:focus-within, .input-wrapper button:focus-visible,
.input-wrapper:hover input,
.select-wrapper:focus-within .select-trigger,
.select-trigger:hover {
    outline: 1px solid var(--color-font-primary);
    outline-offset: 1px;
}

input, button, .select-trigger, #calcForm, #resultsContainer {
    background: var(--color-bg-form);
}

button {
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: background var(--trans-fast), 
                border-color var(--trans-fast);
}

button:hover,
button:focus-visible { 
    background: var(--color-bg-lite-accent);
}

/* -------------------------------------------------
    PAGE CONTAINER & OVERLAYS
------------------------------------------------- */
#initial-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: var(--color-bg-form);
    z-index: var(--z-loader);
    margin: 0;
    padding: 0;
    gap: var(--space-4);
    min-width: var(--min-width);
}

.loader-text {
    display: block;
    text-align: center;
    font-size: var(--font-size-lg); 
    color: var(--color-font-primary);
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    line-height: var(--line-height-sm);
}

#page-wrapper {
    visibility: hidden;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: 0 var(--space-5);
    margin: 0 0 var(--space-9) 0;
    transition: opacity var(--trans-fast);
}

#spacer {
    visibility: "hidden";
    flex-shrink: "0";
    margin: 0;
    padding: 0;
}

#live-announcements {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#overlay {
    display: none;
    position: fixed; 
    inset: 0; 
    z-index: var(--z-overlay);
    background: var(--color-bg-overlay);
    color: var(--color-font-overlay); 
    flex-direction: column; 
    text-align: center;  
    align-items: center; 
    overflow-y: scroll; 
}

#modal { display: flex; }
#modal-confirmation { display: none; }

#modal, #modal-confirmation {
    width: 100%; 
    max-width: var(--modal-wrap-max-width); 
    margin: auto 0; 
    flex-direction: column; 
    align-items: center; 
    padding: 0 1rem;
}

#modal-input-wrapper {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#modal-passphrase-input {
    width: 100%;
    max-width: var(--modal-input-max-width);
    padding: var(--space-3) calc(var(--space-5) * 3) var(--space-3) var(--space-3);
    font-size: var(--font-size-med);
    margin: var(--space-5) var(--space-5) 0;
    color: var(--color-font-primary);
}

#modal-input-wrapper:focus-within #modal-passphrase-input,
#modal-input-wrapper:hover #modal-passphrase-input {
    outline: 1px solid var(--color-font-overlay);
    outline-offset: 1px;
}

#modal-show-hide-toggle {
    opacity: 0;
    display: flex;
    position: absolute;
    border: none;
    background: transparent;
    font-size: var(--font-size-xs);
    box-shadow: none;
    left: 100%;
    top: 100%;
    margin: calc(var(--space-9) * -1) calc(var(--space-9) * -1.9375);
    padding: 0;
    width: calc(var(--space-5) * 2.625);
    aspect-ratio: 1.5/1;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#modal-input-wrapper:focus-within #modal-show-hide-toggle, 
#modal-input-wrapper:hover #modal-show-hide-toggle { 
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

#modal-show-hide-toggle:hover,
#modal-show-hide-toggle:focus { 
    background: var(--color-bg-lite-accent); 
}

#modal-text {
    width: 100%; 
    max-width: var(--modal-text-max-width); 
    font-size: var(--font-size-sm);
    margin: calc(var(--space-5) * 0.85) 0;
    padding: 0;
    white-space: pre-line;
}

#modal-capslock-warning {
    color: var(--color-font-overlay);
    font-size: var(--font-size-xs); 
    margin: var(--space-1) 0 var(--space-1); 
    opacity: 0; 
    transition: opacity var(--trans-fast);
}

.modal-message { 
    font-size: var(--font-size-lg); 
}

.modal-button {
    margin: var(--space-3);
    padding: var(--space-3) var(--space-5);
    display: inline-block;
    color: var(--color-font-primary);
}

#spinner {
    margin: auto 0; 
    display: none;
}

#spinner svg {
    width: var(--spinner-width);  
    height: var(--spinner-width);
    animation: spin var(--anima-slow) linear infinite;
    will-change: transform;
    transform-origin: center;
}

/* -------------------------------------------------
    TOOLTIPS
------------------------------------------------- */
.help-icon {
    width: var(--space-5);
    height: var(--space-5);
    display: block;
    flex-shrink: 0;
    margin: 0 0 calc(var(--space-1) * -0.5) calc(var(--space-1) * -0.5);
}

.help-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    left: 50%;
    top: var(--tooltip-top);
    margin-top: var(--tooltip-margin-top);
    transform: var(--tooltip-transform);
    max-width: min(280px, 90vw);
    width: max-content;
    background: var(--color-bg-tooltip);
    color: var(--color-font-contrast);
    padding: var(--space-4) var(--space-5);
    border-radius: var(--radius-md);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-base);
    line-height: var(--line-height-base);
    white-space: pre-line;
    z-index: var(--z-tooltip);
    box-shadow: var(--shadow-lg);
    pointer-events: none;
    cursor: text;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: var(--tooltip-arrow-top);
    bottom: var(--tooltip-arrow-bottom);
    left: var(--tooltip-arrow-left);
    transform: var(--tooltip-arrow-transform);
    border: var(--space-3) solid transparent;
    border-bottom-color: var(--color-bg-tooltip);
}

.help-wrapper:hover > .tooltip,
.help-wrapper:focus-within > .tooltip,
.tooltip-open {
    display: block;
}

.help-wrapper:focus-within > .help-icon {
    outline: 2px solid var(--color-font-primary);
    outline-offset: 1px;
    border-radius: 50%;
}
.help-wrapper:focus-within > .tooltip {
    outline: 2px solid var(--color-font-primary);
    outline-offset: 2px;
}

.tooltip::selection { background: var(--color-bg-form); color: var(--color-font-primary) }
.tooltip-locked { display: none !important; }
.tooltip-open {  pointer-events: auto !important; }

.error-message {
    display: none;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: max-content;
    height: fit-content;
    line-height: var(--line-height-input);
    z-index: calc(var(--z-tooltip) - 1);
    inset: 0;
    top: 100%;
    margin: var(--space-3) 0 0 calc(var(--space-3) * -0.75);
    padding: var(--space-3) var(--space-4) var(--space-3) calc(var(--space-9) * 1.1875);
    background: var(--color-bg-tooltip);
    color: var(--color-font-contrast);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-base);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-lg);
    pointer-events: none;
    white-space: pre-line;

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: var(--error-arrow-left);
        transform: translateX(-50%);
        border-left: var(--space-3) solid transparent;
        border-right: var(--space-3) solid transparent;
        border-bottom: var(--space-3) solid var(--color-bg-tooltip);
    }
    
    &::after {
        content: "!";
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: var(--space-7);
        width: var(--space-7);
        left: var(--space-2);
        margin: 0 0 0 var(--space-2);
        background-color: var(--color-font-contrast);
        color: var(--color-bg-tooltip);
        font-size: var(--font-size-lg);
        font-weight: var(--weight-bold);
        border-radius: var(--radius-md);
    }
}

/* -------------------------------------------------
    TITLE
------------------------------------------------- */
#title {
    display: block;
    margin: var(--space-5) auto var(--space-6) auto;
    width: 100%;
}

.title-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.title-header {
    font-weight: var(--weight-header);
    font-size: calc(var(--font-size-xl) * 0.8);
    text-align: center;
    text-shadow: var(--text-header-accent);
    margin: 0;
    padding: var(--space-3) 0 var(--space-3) 0;
}

.title-header span { font-size: var(--font-size-xl); }

.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: var(--space-3);
    margin: 0;
    padding: 0;
}

.top-buttons button {
    position: relative;
    display: flex;
    width: calc(var(--space-5) * 3.325);
    aspect-ratio: 1.5/1;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-sm);
    font-size: var(--font-size-xs);
}

#themeToggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--space-5) + var(--space-1));
    height: calc(var(--space-5) + var(--space-1));
    color: var(--color-font-primary);
    transition: opacity var(--trans-fast) ease, transform var(--trans-fast) ease;
}

/* -------------------------------------------------
    FORM
------------------------------------------------- */
#calcForm {
    border: var(--border-wrapper);
    border-radius: var(--radius-md);
    padding: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    box-shadow: var(--shadow-md);
}

.field-header {
    margin: 0 0 calc(var(--space-2) * -1);
    font-weight: var(--weight-header);
    font-size: var(--font-size-lg);
    text-align: left;
}

section {
    display: grid;
    gap: var(--space-3);
    padding: var(--space-3);
    border: var(--border-wrapper);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-accent);
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.row-1 { grid-template-columns: 1fr;}
.row-2 { grid-template-columns: 1fr 1fr;}
.row-3 { grid-template-columns: 1fr 1fr 1fr;}

.row-2, .row-3 { 
    display: grid; 
    gap: var(--space-3);
}

.field label {
    font-weight: var(--weight-bold);
    font-size: var(--font-size-med);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    line-height: calc(var(--line-height-base) + 0.1);
}

.spouseDiv, #spouseBlock { display: none; }
[aria-labelledby="family-heading"] { padding-bottom: var(--space-5); }

button[type="submit"] {
    padding: calc(var(--space-3) * 0.8);
    font-size: var(--font-size-sm-med);
    background: var(--color-font-primary);
    color: var(--color-font-contrast);
    border-color: var(--color-font-contrast);
}

button[type="submit"]:hover { 
    background: var(--color-bg-dark-accent);
}

/* -------------------------------------------------
    INPUT
------------------------------------------------- */
input::placeholder { color:var(--color-font-pholder); }

.field input {
    height: var(--space-9);
    padding: 0 var(--space-3);
    font-size: var(--font-size-base);
    width: 100%;
}

.input-wrapper { 
    position: relative; 
    width: 100%; 
    opacity: 1;
    transition: opacity var(--trans-fast) ease;
    border-radius: var(--radius-sm);
    transition: 
        background-color var(--trans-fast) ease,
        border-color var(--trans-fast) ease,
        opacity var(--trans-fast) ease;
}

.input-wrapper.incomeGrowthDisabled {
    background-color: var(--color-bg-disabled);
    border-color: var(--color-border-contrast);
}

.input-wrapper.incomeGrowthDisabled input,
.input-wrapper.incomeGrowthDisabled span.unit {
    opacity: var(--disabled-opacity);
    cursor: not-allowed; 
}

.input-wrapper.incomeGrowthDisabled .spinner-btn {
    visibility: hidden;
}

.input-wrapper.dollar input { 
    height: var(--space-9);
    line-height: var(--line-height-input);
    padding-left: var(--space-7);
}

.input-wrapper.dollar span.unit { 
    content: '$'; 
    color: var(--color-font-primary);
    position: absolute; 
    left: var(--space-3);
    top: 50%; 
    transform: translateY(-50%); 
    font-size: var(--font-size-base);
    pointer-events: none;
}

.input-wrapper.percent input { 
    height: var(--space-9);
    line-height: var(--line-height-input);
    background: transparent;
}

.input-wrapper.percent span.unit { 
    content: '%'; 
    color: var(--color-font-primary);
    position: absolute; 
    right: 0%;
    top: 50%; 
    transform: translateY(-50%); 
    font-size: var(--font-size-base);
    pointer-events: none;
    width: calc(var(--space-8) + var(--space-1));
    margin: 0 auto;
    text-align: center;
    outline: var(--border-input);
    outline-offset: -1px;
    border-top-right-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    line-height: var(--line-height-input);
    background-color: var(--color-bg-percent);
}

.input-wrapper > * {
    -moz-appearance: textfield;
    appearance: none;
}

.input-wrapper > *::-webkit-inner-spin-button, 
.input-wrapper > *::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spinner-btn {
    position: absolute;
    right: calc(var(--space-3) * 0.625);
    width: calc(var(--space-6));
    height: calc(var(--space-5) - var(--space-2));
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--trans-fast) ease;
    color: inherit;
    pointer-events: auto;
    touch-action: manipulation;
}

.input-wrapper.percent .spinner-btn {
    right: calc(var(--space-3) * 0.625 + var(--space-8));
}

.spinner-up   { top: var(--space-2); }
.spinner-down { bottom: var(--space-2); }
.input-wrapper:focus-within { border-radius: var(--radius-sm); }

.input-wrapper:hover .spinner-btn,
.input-wrapper input:focus ~ .spinner-btn {
    opacity: 1;
}

.spinner-up::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 0; 
    height: 0;
    border-left: calc(var(--space-5) * 0.3125) solid transparent;
    border-right: calc(var(--space-5) * 0.3125) solid transparent;
    border-bottom: calc(var(--space-5) * 0.375) solid currentColor;
}

.spinner-down::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 0; 
    height: 0;
    border-left: calc(var(--space-5) * 0.3125) solid transparent;
    border-right: calc(var(--space-5) * 0.3125) solid transparent;
    border-top: calc(var(--space-5) * 0.375) solid currentColor;
}

/* -------------------------------------------------
    CUSTOM SELECT
------------------------------------------------- */
.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    right: calc(var(--space-5) * 0.625);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: calc(var(--space-5) * 0.3125) solid transparent;
    border-right: calc(var(--space-5) * 0.3125)  solid transparent;
    border-top: calc(var(--space-5) * 0.375)  solid currentColor;
    pointer-events: none;
    z-index: 2;
}

.select-trigger {
    all: unset;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--space-9);
    padding: 0 var(--space-8) 0 var(--space-3);
    background: var(--color-bg-form);
    border: var(--border-input);
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    transition: none;
}

.select-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: calc(var(--z-tooltip) - 1);
    background: var(--color-bg-form);
    border: var(--border-input);
    border-radius: 0;
    border-color: var(--color-font-primary);
    box-shadow: var(--shadow-md);
    outline: none;
    overflow: none;
    list-style: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.select-wrapper:focus-within .select-dropdown,
.select-wrapper:focus .select-dropdown {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.select-dropdown li {
    padding: var(--space-3) var(--space-3);
    cursor: pointer;
    font-size: var(--font-size-base);
    line-height: var(--line-height-sm);
}

.select-trigger:hover,
.select-trigger:focus,
.select-wrapper:focus-within .select-trigger { 
    background: var(--color-bg-form); 
}

.select-dropdown li[aria-selected="true"] {
    background: var(--color-bg-lite-accent);
    color: var(--color-font-primary);
    font-weight: var(--weight-bold);
}

.select-dropdown li:hover,
.select-dropdown li[aria-selected="true"]:hover {
    background-color: var(--color-font-primary);
    color: var(--color-font-contrast);
}

/* -------------------------------------------------
    RADIOS
------------------------------------------------- */
.radios {
    display: grid;
    gap: var(--space-2);
}

.radio-field { margin: 0; padding: calc(var(--space-1) * 0.5) 0 0 0; }
.marriedDiv { margin-right: var(--space-2); }

.radio-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--space-5) * 0.8125);
    border: var(--border-wrapper);
    border-radius: var(--radius-md);
}

.radio-group legend {
    font-weight: var(--weight-bold);
    font-size: var(--font-size-med);
    padding: 0 calc(var(--space-1) + var(--space-2));
}

.radio-label input[type="radio"] { 
    position: absolute; 
    opacity: 0; 
    width: 0; 
    height: 0; 
}

.radio-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: calc(var(--space-3) * 0.8125);
    padding: var(--space-1) calc(var(--space-1) * 1.6125);
    margin: calc(var(--space-1) * -1) 0 calc(var(--space-1) * -0.5) 0;
    font-size: var(--font-size-med);
    cursor: pointer;
    user-select: none;
}

.radio-circle {
    width: calc(var(--space-5) * 0.9375);
    height: calc(var(--space-5) * 0.9375);
    flex-shrink: 0;
    pointer-events: none;
    margin-bottom: var(--space-1);
}

.radio-border { stroke: var(--color-border-input); }
.radio-dot { opacity: 0; }
.radio-label input:checked + .radio-circle .radio-dot { opacity: 1; }
.radio-label:hover .radio-border { stroke: var(--color-border-contrast); }

.radio-label:hover .radio-border,
.radio-label input[type="radio"]:checked + .radio-circle .radio-border {
    stroke-width: 3;
    stroke: var(--color-font-primary);
}

.radio-label input:focus-visible + .radio-circle {
    stroke: var(--color-font-primary);
    outline: var(--space-1) solid var(--color-font-primary);
    outline-offset: calc(var(--space-1) * 0.5);
    border-radius: 50%;
}

/* -------------------------------------------------
    LOAN TABLE
------------------------------------------------- */
.loan-table-wrapper {
    padding: 0; 
    margin: var(--space-3);
    border: var(--border-input);
    border-radius: var(--radius-md);
}

.loan-table {
    width: 100%;
    padding-bottom: var(--space-2);
    border-collapse: separate;
    border-spacing: 0;
}

.loan-table thead th,
.loan-table thead td {
    font-weight: var(--weight-bold);
    font-size: var(--font-size-sm-med);
    text-align: center;
    padding: calc(var(--space-3) * 0.8) var(--space-2);
    border-bottom: var(--border-input);
    background-color: var(--color-bg-table-head);
}

.loan-table thead td:nth-child(1) { border-radius: var(--radius-md) 0 0 0; }
.loan-table thead th:nth-child(2) { padding-left: 0; }
.loan-table thead th:nth-child(4) { padding-right: 0; }
.loan-table thead td:nth-child(5) { border-radius: 0 var(--radius-md) 0 0; }

.loan-table td {
    margin: 0;
    padding: var(--space-2) var(--space-2) 0 var(--space-2); 
    vertical-align: middle;
    position: relative;
}

.loan-table td:nth-child(2) { padding-left: 0; }
.loan-table td:nth-child(4) { padding-right: 0; }

.loan-table td.row-label {
    text-align: center;
    font-weight: var(--weight-semi);
    font-size: var(--font-size-med);
    min-width: calc(var(--space-9) * 2);
    line-height: var(--line-height-input);
    height: var(--space-9);
}

.loan-table td.btn-cell {
    gap: var(--space-2);
    width: calc(var(--space-5) * 5.75);
    padding: var(--space-2) var(--space-3) 0 var(--space-4);
}

.loan-table input {
    height: var(--space-9);
    padding: 0 var(--space-3);
    font-size: var(--font-size-base);
    width: 100%;
}

.loan-table .addLoan,
.loan-table .deleteLoan {
    height: var(--space-9);
    width: var(--space-9);
    min-width: fit-content;
    font-size: var(--font-size-med);
    padding: 0;
    box-shadow: none;
}

/* -------------------------------------------------
    DISCLAIMER & RESULTS
------------------------------------------------- */
#disclaimer {
    font-size: var(--font-size-sm);
    color: var(--color-font-muted);
    text-align: center;
    width: 75%;
    margin: 0 auto calc(var(--space-2) * -1) auto;
    padding: 0;
    line-height: calc(var(--line-height-base) * 0.9);
}

#resultsContainer {
    display: none;
    border: var(--border-wrapper);
    border-radius: var(--radius-md);
    margin-top: var(--space-3);
    box-shadow: var(--shadow-md);
}

#results{
    padding: var(--space-5);
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
}

/* -------------------------------------------------
    ANIMATIONS AND CLASSES
------------------------------------------------- */
@keyframes resultsFadeIn { to { opacity: 1;} }
@keyframes expandDown { to { transform: scaleY(1); opacity: 1; } }
@keyframes spin { to { transform:rotate(360deg); } }
@keyframes fadeOut { to { opacity: 0;} }
@keyframes fadeIn { to { opacity: 1;} }

.fadeOut { 
    opacity: 1; 
    animation: fadeOut var(--anima-fast) forwards; 
    will-change: opacity; 
}

.fadeIn { 
    opacity: 0; 
    animation: fadeIn var(--anima-fast) forwards; 
    will-change: opacity; 
}

.animated-resultsContainer {
    display: block;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    animation: expandDown var(--anima-slow) ease-out forwards;
}

.animated-results {
    opacity: 0;
    animation: resultsFadeIn var(--anima-slow) forwards var(--anima-med);
    will-change: opacity;
}

/* -------------------------------------------------
    RESPONSIVE
------------------------------------------------- */
/* Max width with which the page was designed */
@media (max-width: 720px) {
    #radios { grid-template-columns: 1fr; gap: var(--space-4); }
    .radio-group { margin-top: calc(var(--space-1) * -1); }
    section { gap: var(--space-4); }
    .row-2, .row-3 { grid-template-columns: 1fr; gap: var(--space-4); }

    .loan-table,
    .loan-table tbody,
    .loan-table tr,
    .loan-table td { 
        display: block; 
        width: 100%; 
    }

    .loan-table { padding-bottom: 0; box-shadow: var(--shadow-accent); }
    .loan-table thead { display: none; }
    .loan-table tbody { padding: var(--space-3); }

    .loan-table td {
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: var(--space-1) 0;
        gap: var(--space-3);
        text-align: center;
        flex-wrap: nowrap;
    }

    .loan-table td.row-label {
        order: -1;
        justify-content: flex-start;
        padding: 0;
        margin-bottom: calc(var(--space-2) * -1);
    }

    .loan-table td.row-label span {
        text-transform: uppercase;
        font-weight: var(--weight-bold);
        font-size: var(--font-size-base);
    }

    .loan-table td input { flex: 1; }

    .loan-table td:nth-child(2)::before { content: "Principal Amount: "; }
    .loan-table td:nth-child(3)::before { content: "Accrued Interest: "; }
    .loan-table td:nth-child(4)::before { content: "Interest Rate: "; }

    .loan-table td:nth-child(2)::before,
    .loan-table td:nth-child(3)::before,
    .loan-table td:nth-child(4)::before {
        font-weight: var(--weight-semi);
        font-size: var(--font-size-med);
        width: calc(var(--space-5) * 10);
        flex-shrink: 0;
        text-align: right;
    }

    .loan-table td.btn-cell {
        width: 100%;
        margin: var(--space-3) 0;
        padding: 0 var(--space-2);
        gap: var(--space-3);
    }

    .loan-table .addLoan,
    .loan-table .deleteLoan {
        flex: 1;
        text-align: center;
    }
}

/* Point at which title header changes format */
@media (max-width: 570px) {
    .title-header-wrapper { width: calc(var(--space-5) * 21); }
    #disclaimer { font-size: calc(var(--font-size-sm) * 0.95); }
}

/* Cleaner break for disclaimer formatting */
@media (max-width: 420px) {
    #disclaimer { width: 80%; }
}

/* Point at which loan row labels start breaking */
@media (max-width: 400px) {
    .title-header-wrapper { width: 100%; }
    .title-header { font-size: calc(7vw * 0.8); }
    .title-header span { font-size: 7vw; }

    .field input,
    .select-trigger,
    .select-dropdown li,
    .loan-table input {
        font-size: var(--font-size-med);
    }

    .error-message { font-size: calc(var(--font-size-sm-med) * 0.8); }
    .radio-group legend {font-size: var(--font-size-sm-med); }

    .loan-table td:nth-child(2)::before,
    .loan-table td:nth-child(3)::before,
    .loan-table td:nth-child(4)::before {
        width: auto;
        text-align: left;
        padding-right: calc(var(--space-2) + var(--space-1));
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
    }

    .loan-table td:nth-child(2),
    .loan-table td:nth-child(3),
    .loan-table td:nth-child(4) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: var(--space-2);
        margin-top: var(--space-3);
    }

    .loan-table td input { width: 100%; }

}

/* Supports recommended minimum 320px but smoother transition at 330px  */
@media (max-width: 330px) {
    body { display: block; }
    .title-header { font-size: calc(var(--font-size-lg) * 0.92); }
    .title-header span { font-size: calc(var(--font-size-lg) * 1.15); }
    #disclaimer { font-size: calc(var(--font-size-sm) * 0.9); }

    .field input,
    .select-trigger,
    .select-dropdown li,
    .loan-table input {
        font-size: var(--font-size-sm-med);
    }
}
